@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

header{
	text-align: center;
	font-variant: all-small-caps;
	margin-bottom: 1em;
}

header p{
	text-indent: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}

blockquote.testimony p{
	text-indent: 0;
	margin-bottom: 0.5em;
}

[epub|type~="z3998:verse"] p,
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

figure{
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}
